################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlatStyle
/FlatStyle
/FlatStyle.Sample/bin
/FlatStyle.Sample/obj
/obj
/Stira.Converters.Wpf/bin/Debug
/Stira.Converters.Wpf/obj
/Stira.Converters.Wpf/bin/Release/net45
/Stira.Converters.Wpf/bin/Release/netcoreapp3.0
/Stira.Converters.Wpf/bin/Release
/Stira.Converters.Wpf/bin/PublishOnLocal/net45
/Stira.Converters.Wpf/bin/PublishOnLocal/netcoreapp3.0
/Stira.Converters.Wpf/bin/PublishOnLocal
/FlatStyle.Sample/old/obj
/FlatStyle.Sample/old/bin
/FlatStyle.Sample2/obj
/FlatStyle.Sample2/bin/Debug/net5.0-windows
