################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlatStyle
/FlatStyle
/FlatStyle.Sample/bin
/FlatStyle.Sample/obj
/obj
