################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlatStyle
/FlatStyle
/FlatStyle.Sample/bin
/FlatStyle.Sample/obj
/obj
/Stira.Converters.Wpf/bin/Debug
/Stira.Converters.Wpf/obj
/Stira.Converters.Wpf/bin/Release/net45
/Stira.Converters.Wpf/bin/Release/netcoreapp3.0
/Stira.Converters.Wpf/bin/Release
